.Container__Header{
  display: block;
  margin-bottom: 1%;
  background-color: rgba(69, 76, 175, 0.76);
  min-height: 50px;
}

.Container__Table{
  display: inline-block;
  margin-top: 1%;
  margin-right: 2%;
  vertical-align: top;
}
.Container__Menu {
  display: inline-block;
  margin-top: 1%;
  margin-right: 2%;
  vertical-align: top;
}

.Container__RightAd--DeskTop {
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  background-color: rgba(145, 189, 145, 0.76);
  min-width: 400px;
  min-height: 1000px;
}

@media screen and (max-width: 700px) {
  .Container__RightAd--DeskTop {
    display: none;
  }
}

input {
  border: 0px solid;
  font-family: 'Courier New', Courier, monospace;
}

input:disabled{
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
}

