input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.Table__subCatagory {
  min-width: 500px;
  margin-right: 40px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  float:left;
}

.Table__Ammount {
  min-width: 100px;
  margin-right: 40px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
}
