
.BalanceItemModal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.BalanceItemModal__content {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}

.BalanceItemModal__closeButton {
  position: absolute;
  bottom: 40px;
}

.BalanceItemModal__Categorybox {
  overflow-y: auto;
  height:500px;
}