.majorButton {
  border-radius:  10px;
  padding: 14px;
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  width: 400px;
}

@media screen and (max-width: 700px) {
  .majorButton__Modal--mobile {
    font-size: 20px;
    width: 250px; 
  }
}


.majorButton__label {
  border-radius:  10px;
  border-style: solid;
  padding: 14px;
  border-width: 2px;
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  max-width: 400px; 
}


.majorButton--Blue {
  background-color: rgba(69, 76, 175, 0.76);
}

.majorButton--Blue:hover {
  background-color: rgba(63, 71, 179, 0.76);
  font-size: 29px;
}

.majorButton--Green {
  background-color: rgba(145, 189, 145, 0.76);
}

.majorButton--Green:hover {
  background-color: darkseagreen;
  font-size: 29px;
}

.majorButton--Red {
  background-color: rgba(216, 111, 111, 0.842);
}

.majorButton--Red:hover {
  background-color: rgb(223, 99, 99);
  font-size: 29px;
}

.majorButton--Grey {
  background-color: rgb(126, 126, 126);
}

.majorButton--Grey:hover {
  background-color: rgb(71, 71, 71);
  font-size: 29px;
}

.majorButton--Purple {
  background-color: rgb(131, 45, 131);
}

.majorButton--Purple:hover {
  background-color: rgb(117, 40, 117);
  font-size: 29px;
}

input[type="file"] {
  display: none;
}


.majorButton--CSVLink {
  text-decoration: none;
  font-size: 29px;
  color: whitesmoke;
}