.App {
  text-align: center;
}


.App-header {
  display: block;
  margin-bottom: 1%;
  background-color: rgba(69, 76, 175, 0.76);
  height: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.App-header__link--first {
  margin-left: 150px;
}

.App-header__link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  float:left;
}

.App-header__menu--mobile{
  display: none;
}

@media screen and (max-width: 700px) {
  .App-header__link {
    display: none;
  }

  .App-header__menu--mobile{
    display: inline-block;
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
